/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root{
    --color-green:#28ad56;
    --color-blue:#263576;
}

.font-blue{
    color: var(--color-blue);
    font-family: Arial, Helvetica, sans-serif;
}
.font-green{
    color: var(--color-green);
    font-family: Arial, Helvetica, sans-serif;

}

.background-green{
    background-color: var(--color-green)!important;
}
.background-blue{
    background-color: var(--color-blue);
}

.rounded{
    border-radius: 5px!important;
}

.input{
  margin-top: 1rem!important;
}
